@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

/* font-family: 'Poppins', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Navbar */
.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}
.navbar .logo__navbar {
  display: flex;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}
.navbar .logo__navbar h1 {
  color: #00ddff;
  text-transform: uppercase;
  font-size: 20px;
}

.navbar .logo__navbar span {
  color: #006373;
  text-transform: uppercase;
  font-size: 30px;
}
.navbar .logo__navbar i {
  font-size: 2em;
  color: #00ddff;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  /* ****************** */

  display: none;
  /* ****************** */
}
ul {
  display: flex;
  margin-right: 60px;
  list-style: none;
}
ul li {
  margin-right: 60px;
}
ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #00ddff;
}
ul li a:hover {
  color: #006373;
}
.button {
  font-size: 14px;
  border: none;
  outline: none;
  width: 160px;
  height: 50px;
  margin-right: 30px;
  background: #006373;
  color: white;
  letter-spacing: 2px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: #00ddff;
  color: #006373;
}
.active {
  color: #006373;
}

/* Sfarsit Navbar */
.title {
  background-color: rgb(245, 245, 245);
  height: 100vh;
  min-width: 360px;
}
.text {
  height: 100%;
  background-color: red;
  color: red;
}
.formular {
  position: absolute;
  left: 50%;
  top: 30%;
  right: 0;
  width: 300px;
  height: 600px;
  transform: translate(-50%);
  background-color: #ffff;
  border-radius: 50px;
  min-width: 360px;
}
.formularx {
  position: absolute;
  left: 50%;
  top: 15%;
  right: 0;
  width: 300px;
  height: 600px;
  transform: translate(-50%);
  border-radius: 50px;
  min-width: 360px;
}
.text_form {
  text-align: center;
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
}
.text_form h4 {
  font-size: 14px;
  margin: 0 20px;
  margin-top: 20px;
  font-weight: 300;
}
.text_form h4::before {
  content: "*";
  color: red;
}
.form {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 80%;
}
.container {
  padding-top: 20px;
}
.container input {
  width: 100%;
  padding: 10px 10px;
  border: none;
  border-bottom: 1px solid #006373;
  outline: none;
}
.container h4 {
  font-family: "Poppins", sans-serif;
}
.checkbox {
  margin-top: 30px;
}
.btn {
  border: none;
  outline: none;
  border-bottom: none;
}

button {
  width: 100%;
  padding: 10px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #006373;
  color: white;
  letter-spacing: 3px;
  font-size: 16px;
}
@media only screen and (min-width: 819px) {
  .formular {
    position: absolute;
    left: 70%;
    top: 15%;
    width: 300px;
    height: 600px;
    transform: translate(-50%);
    background-color: #ffff;
    border-radius: 50px;
    min-width: 360px;
  }
  .formularx {
    position: absolute;
    left: 30%;
    top: 15%;
    width: 600px;
    height: 600px;
    transform: translate(-50%);
    border-radius: 50px;
    min-width: 360px;
  }
}
